<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sptwin.apchy.web.sys.mapper.ResourceCustomMapper">
  <resultMap id="BaseResultMap" type="com.sptwin.apchy.web.model.ResourceCustom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl" />
    <result column="resource_type" jdbcType="INTEGER" property="resourceTypeEnum" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="available" jdbcType="INTEGER" property="availableEnum" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <resultMap id="SecondResultMap" type="com.sptwin.apchy.web.model.MenuLeftCustom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_name" jdbcType="VARCHAR" property="text" />
    <result column="resource_url" jdbcType="VARCHAR" property="url" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, resource_name, resource_url, resource_type, icon_cls, priority, parent_id, parent_ids,
    permission, available, gmt_create, gmt_modified
  </sql>
  <select id="queryResource" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_resource
  </select>
  <select id="queryResourceByParentIds" resultMap="SecondResultMap">
    SELECT
    id, resource_name, resource_url, icon_cls, parent_id
    from t_sys_resource
    WHERE id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
    order by priority
  </select>
  <select id="queryById" resultType="com.sptwin.apchy.web.model.MenuLeft">
    SELECT
    id, resource_name text, resource_url url, icon_cls iconCls
    from t_sys_resource
    WHERE id = #{value}
    order by priority
  </select>
</mapper>