<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>资源列表</title>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

    </style>
    <link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/miniui/scripts/boot.js}" type="text/javascript"></script>
</head>
<body>

<div style="padding-bottom:5px;padding-left: 0px;">

    <div id="form1">
        <table border="0" cellpadding="1" cellspacing="2">
            <tr>
                <td>资源名称：</td>
                <td>
                    <input id="key" class="mini-textbox" style="width:150px;" onenter="onKeyEnter"/>
                    <a class="mini-button" style="width:60px;" onclick="search()">查询</a>
                </td>
            </tr>

        </table>
    </div>
</div>
<div id="treegrid1" class="mini-treegrid" style="width:99%;height:90%;"
     url="/resource/queryResource" showTreeIcon="true"
     treeColumn="taskname" idField="id" parentField="parentId" resultAsTree="false" expandOnLoad="true"
>
    <div property="columns">
        <div type="indexcolumn"></div>
        <div name="taskname" field="resourceName" width="200">资源名称</div>
        <div field="resourceUrl" width="100" headerAlign="center" align="center">资源路径</div>
        <div field="resourceTypeEnum.text" width="100" headerAlign="center" align="center">类型</div>
        <div field="permission" width="100" headerAlign="center" align="center">权限</div>
        <div field="priority" width="100" headerAlign="center" align="center">显示顺序</div>
        <div field="availableEnum.text" width="50" headerAlign="center" align="center">状态</div>
        <div field="gmtCreate" width="110" align="center" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss"
             allowSort="true">创建时间</div>
        <div name="action" width="110" headerAlign="center" align="center"
             renderer="onActionRenderer" cellStyle="padding:0;">操作</div>
    </div>
</div>
<script type="text/javascript">

    mini.parse();
    var tree = mini.get("treegrid1");
    //tree.expandLevel(0);
    function clean() {
        form.reset();
    }
    function onActionRenderer(e) {
        var record = e.record;
        var uid = record.id;
        var parentIds = tree.getAncestors(record);
        var args = [0];
        for (var i = 0; i < parentIds.length; i++) {
            args.push(parentIds[i].id);
        }
        args.push(uid);
        var pIds = args.join('/');
        var rowIndex = e.rowIndex;
        var s ;
        if(record.resourceTypeEnum.code==1){
            s = '<a class="Edit_Button" href="javascript:edit(\'' + uid + '\')">编辑</a>&nbsp;'
                    + '<a class="Delete_Button" href="javascript:delRow(\'' + uid + '\')">删除</a>';
        }else{
            if(record.parentId==0){
                s = '<a class="Edit_Button" href="javascript:add(\'' + uid + '\',\'' + pIds + '\')">添加子节点</a>&nbsp;'
                    + '<a class="Edit_Button" href="javascript:edit(\'' + uid + '\')">编辑</a>';
            }else{
                s = '<a class="Edit_Button" href="javascript:add(\'' + uid + '\',\'' + pIds + '\')">添加子节点</a>&nbsp;'
                    + '<a class="Edit_Button" href="javascript:edit(\'' + uid + '\')">编辑</a>&nbsp;'
                    + '<a class="Delete_Button" href="javascript:delRow(\'' + uid + '\')">删除</a>';
            }
        }
        return s;
    }
    function add(uid,pIds) {
        mini.open({
            url: "/resource/addEditPage",
            title: "资源添加", width: 600, height: 300,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new",parentId:uid,parentIds:pIds };
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {
                if (action == "save") {
                    tree.reload();
                    mini.showTips({
                        content: "<b>成功</b> <br/>添加成功",
                        state: "success",
                        x: "center",
                        y: "center",
                        timeout: 3000
                    });
                }
            }
        });
    }
    function edit() {
        var row = tree.getSelected();
        if (row) {
            mini.open({
                url: "/resource/addEditPage",
                title: "资源编辑", width: 600, height: 300,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit", id: row.id };
                    iframe.contentWindow.SetData(data);

                },
                ondestroy: function (action) {
                    //var iframe = this.getIFrameEl();
                    if (action == "save") {
                        tree.reload();
                        mini.showTips({
                            content: "<b>成功</b> <br/>编辑成功",
                            state: "success",
                            x: "center",
                            y: "center",
                            timeout: 3000
                        });
                    }
                }
            });

        } else {
            alert("请选中一条记录");
        }

    }
    function delRow(row_uid) {
        var row = tree.getRowByUID(row_uid);
        if (row) {
            if (confirm("确定删除此记录？")) {
                tree.loading("删除中，请稍后......");
                $.ajax({
                    url: "/resource/deleteOne?id=" + row.id,
                    success: function (text) {
                        tree.reload();
                        mini.showTips({
                            content: "<b>成功</b> <br/>删除成功",
                            state: "success",
                            x: "center",
                            y: "center",
                            timeout: 3000
                        });
                    },
                    error: function () {
                    }
                });
            }
        }
    }
    function search() {
        var key = mini.get("key").getValue();
        if (key == "") {

        } else {
            key = key.toLowerCase();

            //查找到节点
            var nodes = tree.findNodes(function (node) {
                var text = node.resourceName ? node.resourceName.toLowerCase() : "";
                if (text.indexOf(key) != -1) {
                    return true;
                }
            });

            //展开所有找到的节点
            for (var i = 0, l = nodes.length; i < l; i++) {
                var node = nodes[i];
                tree.expandPath(node);
            }

            //第一个节点选中并滚动到视图
            var firstNode = nodes[0];
            if (firstNode) {
                tree.selectNode(firstNode);
                tree.scrollIntoView(firstNode);
            }
        }
    }
    function onKeyEnter(e) {
        search();
    }
</script>
</body>
</html>