<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>资源编辑</title>
    <script th:src="@{/miniui/scripts/boot.js}" type="text/javascript"></script>

    <style type="text/css">
        html,body {
            margin: 0;
            padding: 0;
            border: 0;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>

<form id="form1" method="post">
    <input name="id" class="mini-hidden" />
    <fieldset style="border:solid 1px #aaa;padding:3px;">
        <legend >资源面板</legend>
        <div style="padding:5px;">
            <table>
                <tr>
                    <td style="width:80px;">资源名称</td>
                    <td>
                        <input name="resourceName" class="mini-textbox" required="true" style="width:200px;"/>
                    </td>
                    <td style="width:80px;">资源路径</td>
                    <td>
                        <input name="resourceUrl" class="mini-textbox" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:100px;"> 图标：</td>
                    <td style="width:170px;">
                        <input id="iconCls" name="iconCls" class="mini-combobox" style="width:150px;"
                               textField="text" valueField="code" emptyText="请选择..."
                               url="/base/iconCls" required="true" showNullItem="true"
                               nullItemText="请选择..."/>
                    </td>
                    <td style="width:100px;"> 类型：</td>
                    <td style="width:170px;">
                        <input id="resourceType" name="resourceType" class="mini-combobox" style="width:150px;"
                               textField="text" valueField="code" emptyText="请选择..." required="true"
                               url="/base/resourceType" required="true" showNullItem="true"
                               nullItemText="请选择..."/>
                    </td>
                </tr>
                <tr>
                    <td style="width:100px;">显示顺序：</td>
                    <td style="width:170px;">
                        <input name="priority" changeOnMousewheel="false" class="mini-spinner" required="true"  minValue="1" maxValue="30"/>
                    </td>
                    <td style="width:80px;">权限</td>
                    <td>
                        <input name="permission" class="mini-textbox" style="width:200px;"/>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
    <div style="text-align:center;padding:10px;">
        <a class="mini-button" onclick="onOk" style="width:60px;margin-right:20px;">确定</a>
        <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
    </div>
</form>
<script type="text/javascript">
    mini.parse();

    var form = new mini.Form("form1");

    function SaveData() {
        saveForm(form, {
            url: "/resource/insertOrEditResource",
            callback: function (success) {
                if (success) CloseWindow("save");
                //else CloseWindow();
            }
        });
    }

    ////////////////////
    //标准方法接口定义
    function SetData(data) {
        if (data.action == "edit") {
            //跨页面传递的数据对象，克隆后才可以安全使用
            data = mini.clone(data);

            $.ajax({
                url: "/resource/editQuery?id=" + data.id,
                cache: false,
                success: function (text) {
                    var o = mini.decode(text);
                    form.setData(o);
                    form.setChanged(false);
                }
            });
        }
    }

    function GetData() {
        var o = form.getData();
        return o;
    }
    function CloseWindow(action) {
        if (action == "close" && form.isChanged()) {
            if (confirm("数据被修改了，是否先保存？")) {
                return false;
            }
        }
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }
    function onOk(e) {
        SaveData();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }
    function saveForm(form, options) {
        if (typeof form == "string") form = new mini.Form(form);

        if (typeof options == "string") options = { url: options };
        options = $.extend({
            callback: function (success) {
            }
        }, options);

        form.validate();
        if (form.isValid() == false) return;

        var values = form.getData();
        var json = mini.encode(values);
        $.ajax({
            url: options.url,
            type: 'post',
            data: { data: json },
            cache: false,
            success: function (text) {
                options.callback(true);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert(jqXHR.responseText);
                options.callback(false);
            }
        });
    }
</script>
</body>
</html>